{{ define "main" }}
    <main>
        <p><a href="/tags/">◀ Tag List</a></p>
        <h1 class="tag-header hashtag">{{ .Title | markdownify }}</h1>

        <div class="post-list">
            <ul>
                {{ range .Pages }}
                    <li>
                        <div class="post">
                            <span class="pubdate"> {{ .Date.Format "2006-01-02" }}</span> -
                            <span class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
                        </div>
                    </li>
                {{ end }}
            </ul>
        </div>
    </main>
{{ end }}

