{{ define "main" }}
    <main>
        <article>
            <div class="post-header">
                <h1>{{ .Title }}</h1>
                {{ if ( ne true .Params.staticpage ) }}
                    <span class="pubdate"> {{ .Date.Format "2006-01-02" }}</span>
                    {{ if (ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02"))}}
                        <span class="lastmod"> [Updated {{ .Lastmod.Format "2006-01-02" }}]</span>
                    {{ end }}
                    <span class="tags">
                    {{ range sort .Params.tags }}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                    {{ end }}
                    </span>
                {{ end }}
            </div>

            {{ .Content }}

            <div class="comments">
                {{if .Params.hackerNewsId}}
                    discuss on <a href="https://news.ycombinator.com/item?id={{.Params.hackerNewsId}}"
                                  target="_blank" rel="noopener noreferrer">
                        <img src="{{ .Site.BaseURL }}hnlogo.gif" alt="Hacker news logo">
                        <span>HackerNews</span>
                    </a>&nbsp;|
                {{end}}
                <a href="https://github.com/knrdl/knrdl.github.io/issues/new?title={{ urlquery .Title }}"
                   target="_blank" rel="noopener noreferrer">
                    <img src="{{ .Site.BaseURL }}github.png" alt="Github logo" style="filter: invert(.7);">
                    <span>Feedback</span>
                </a>
            </div>
        </article>
    </main>
{{end}}
